/**
 * EVENT-LIST
  */

.gt-event-list-container {
  background-color: $grey-1;
  border: none;
  padding: 10px;
}
.gt-event-list-container-title {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.gt-event-list-item {
  border-bottom: 2px dotted $grey-2;
  padding: 10px;
}

.gt-event-list-item-date,
.gt-event-list-item-excerpt {
  font-size: 80%;
}

.gt-event-list-item-date p {
  display: inline;
}

.gt-event-list-item-title {
  color: black;
  display: block;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
}

.gt-event-list-item-title:hover {
  color: $secondary-color;
}

.load-more {
  background-color: $grey-2;
  border: 1px solid $grey-3;
  border-radius: 3px;
  color: $grey-4;
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.load-more:hover {
  background-color: $grey-2-5;
  color: $whitest-color;
  text-decoration: underline;
}

/**
 * Event list's tab bar
 */

.gt-event-list-tabs-container {
  border-bottom: 4px solid $primary-color;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.gt-event-list-tabs {
  border-radius: 10px 10px 0 0;
  border: none;
  color: $whitest-color;
  display: inline-block;
  background-color: $secondary-color;
  margin: 0;
  padding: 10px;
  float: left;
  vertical-align: top;
}
.gt-event-list-tabs:not(.active):hover {
  cursor: pointer;
  @include primary-gradient();
}
.gt-event-list-tabs.active {
  background-color: $primary-color !important;
  cursor: default;
}